{% extends "base.html" %}

{% block title %}
Sign In Patient
{% endblock %}

{% block style %}
<link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/signForms/patient.css') }}"  >
{% endblock %}

{% block content %}


    <!-- sign in Patient -->

    <div class="patientForm">

        <form action="{{ url_for('signInPatient')}}" method="POST">
 
            <label for="id">ID</label><br> 
            <input type="number" placeholder="e.g. 30008271700123" id="id" name="id"><br> <br> 

            <label for="password">Password</label><br> 
            <input type="password" placeholder="Password" id="password" name="password"> <br> <br>            
            
            <input type="submit">

        </form>
    </div>

{% endblock %}
