{% extends "base.html" %}

{% block title %}
View Patient
{% endblock %}

{% block style %}
<link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/adminView/patientView/style.css') }}"  >
{% endblock %}

{% block content %}

    <!-- Content -->
    <div class="content">

        <h1> Patient Informations: </h1>

        <table style="width:100%" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Entry Date</th>
                    <th>Age</th>
                    <th>Doctor Medical License Number</th>
                   
                </tr>
                
            </thead>

            <tbody>

                {% for row in Table %}
                
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.3}}</td>
                    <td>{{row.4}}</td>
                    <td>{{row.8}}</td>
                    
                
                </tr>
                {% endfor %}

            </tbody>
            </table>
    
{% endblock %}
