{% extends "base.html" %}

{% block title %}
Doctor Form Page
{% endblock %}

{% block style %}
<link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/adminForm/doctorForm/style.css') }}"  >
{% endblock %}

{% block content %}

    <!-- Doctor Form -->

    <div class="doctorForm">

        <form action="http://127.0.0.1:5000/admin/privilages/doctorform" method="POST">

            <label for="name"> Name: </label><br>
            <input type="text" placeholder="Name..." id="name" name="name"><br><br>

            <label for="age"> Age: </label><br>
            <input type="number" placeholder="Age..." id="age" name="age"><br><br>
            
            <label for="mlnumber"> Medical License Number: </label><br>
            <input type="number" placeholder="e.g 1234567" id="mlnumber" name="mlnumber" ><br><br>
            
            <label for="id"> ID: </label><br>
            <input type="number" placeholder="e.g 1234567" id="id" name="id" ><br><br>

            <label for="email"> Email: </label><br>
            <input type="email" placeholder="example@example.com..." id="email" name="email"><br><br>

            <label for="password"> Password: </label><br>
            <input type="password" placeholder="write a strong password..." id="password" name="password"><br><br>
            
            <input type="submit"><br>


        </form>
    </div>
    

    
{% endblock %}
