{% extends "base.html" %}

{% block title %}
Sign In Page
{% endblock %}

{% block style %}
<link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/showparameters.css') }}"  >
{% endblock %}

{% block content %}

    <!--show -->

    <div class="showform">
        
        <form action="{{ url_for('showsign')}}" method="POST">
 
            <label for="patientID" >Patient ID</label><br> 
            <input type="number" placeholder="patient ID .... " id="patientID" name="patientID"><br> <br> 
          
            <input type="submit">

        </form>
    </div>

{% endblock %}
