{% extends "base.html" %}

{% block title %}
View Nursery Staff
{% endblock %}

{% block style %}
<link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/adminView/nurseryView/styles.css') }}"  >
{% endblock %}

{% block content %}

    <!-- Content -->
    <div class="content">

        <h1> Nursery Staff Informations: </h1>

        <table style="width:100%" class="table">
            <thead>
                <tr>
                    <th>MLNum</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th> Currently Service Room Number</th>
                    <th>Email</th>

                </tr>
                
            </thead>

            <tbody>

                {% for row in Table %}
                
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td>{{row.6}}</td>
                    <td>{{row.7}}</td>
                
                </tr>
                {% endfor %}

            </tbody>
            </table>
    </div>
    
    <div class="addingParameters">
        <br>
        <a href="http://127.0.0.1:5000/signin/nursery/addparameters"> Adding A New Patient Parameters</a> <br><br><br><br>
        <a href="http://127.0.0.1:5000/signin/nursery/show"> Showing Patient Parameters</a>

    </div>
    
{% endblock %}
