{% extends "base.html" %}

{% block title %}
Patient Form Page
{% endblock %}

{% block style %}
<link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/adminForm/patientForm/style.css') }}"  >
{% endblock %}

{% block content %}

    <!-- sign in patientForm -->

    <div class="patientForm">
        <form action="{{ url_for('patientForm')}}" method="POST">
 
            <label for="name"> Name: </label><br>
            <input type="text" placeholder="Name..." id="name" name="name"><br><br>

            <label for="id"> ID: </label><br>
            <input type="number" placeholder="e.g 1234567" id="id" name="id" ><br><br>

            <label for="age"> Age: </label><br>
            <input type="number" placeholder="Age..." id="age" name="age"><br><br>
            
            <label for="entrydate">Entry Date: </label><br> 
            <input type="datetime-local" id="entrydate" name="entrydate"> <br> <br>            
            
            <label for="roomNum"> Room Number: </label><br>
            <input type="number" placeholder="Room Number..." id="roomNum" name="roomNum"><br><br>
            
            <label for="bedNum"> Bed Number: </label><br>
            <input type="number" placeholder="Bed Number..." id="bedNum" name="bedNum"><br><br>
            
            <label for="docml"> Doctor Medical License Number: </label><br>
            <input type="number" placeholder="Doctor Medical License Number..." id="docml" name="docml"><br><br>
            
            <label for="password"> Password: </label><br>
            <input type="password" placeholder="write a strong password..." id="password" name="password"><br><br>
            
            
            <input type="submit">

        </form>
    </div>

{% endblock %}
