{% extends "base.html" %}

{% block title %}
Sign In Page
{% endblock %}

{% block style %}
<link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/adminPage/adminPage.css') }}"  >
{% endblock %}

{% block content %}

    <!--admin page -->

    <div class="adminPage">

        <div class="leftPage">
            <h2> Sign Up </h2>
            <a href="{{ url_for('doctorForm')}}" > Doctor </a>
            <a href="{{ url_for('nurseryForm')}}" > Nursery Staff </a>
            <a href="{{ url_for('patientForm')}}" > Patient </a>
        </div>

        <div class="rightPage">
            <h2> ICU Rooms </h2>
            <a href="{{ url_for('roomForm')}}" > Rooms </a>
            <a href="{{ url_for('bedForm')}}" > Beds </a>
            <a href="{{ url_for('medicalForm')}}" > Medical Equipment </a>
        </div>

        <div class="view">
            <h2> View Information:</h2>
            <a href="{{ url_for('doctorView')}}" > Doctor </a>
            <a href="{{ url_for('patientView')}}" > Patient </a>
            <a href="{{ url_for('nurseryView')}}" > Nursery Staff </a>
            <a href="{{ url_for('medicalView')}}" > Medical Equipment  </a>
            <a href="{{ url_for('roomView')}}" >  Rooms </a>
            <a href="{{ url_for('bedView')}}" > Bed </a>
            <a href="{{ url_for('showsign')}}" > Show Patient Parameters </a>
            
            
        </div>

    </div>

    {% endblock %}
