{% extends "base.html" %}

{% block title %}
Sign In Page
{% endblock %}

{% block style %}
<link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/adminPage/adminPage.css') }}"  >
{% endblock %}

{% block content %}

    <!--admin page -->

    <div class="adminPage">

        <div class="leftPage">
            <h2> Sign Up </h2>
            <a href="http://127.0.0.1:5000/admin/privilages/doctorform" > Doctor </a>
            <a href="http://127.0.0.1:5000/admin/privilages/nurseryform" > Nursery Staff </a>
            <a href="http://127.0.0.1:5000/admin/privilages/patientform" > Patient </a>
        </div>

        <div class="rightPage">
            <h2> ICU Rooms </h2>
            <a href="http://127.0.0.1:5000/admin/privilages/roomform" > Rooms </a>
            <a href="http://127.0.0.1:5000/admin/privilages/bedform" > Beds </a>
            <a href="http://127.0.0.1:5000/admin/privilages/medicalform" > Medical Equipment </a>
        </div>

        <div class="view">
            <h2> View Information:</h2>
            <a href="http://127.0.0.1:5000/admin/privilages/doctorview" > Doctor </a>
            <a href="http://127.0.0.1:5000/admin/privilages/patientview" > Patient </a>
            <a href="http://127.0.0.1:5000/admin/privilages/nurseryview" > Nursery Staff </a>
            <a href="http://127.0.0.1:5000/admin/privilages/medicalview" > Medical Equipment  </a>
            <a href="http://127.0.0.1:5000/admin/privilages/roomview" >  Rooms </a>
            <a href="http://127.0.0.1:5000/admin/privilages/bedview" > Bed </a>
            <a href="http://127.0.0.1:5000/signin/nursery/show" > Show Patient Parameters </a>
            
            
        </div>

    </div>

    {% endblock %}
