{% extends "base.html" %}

{% block title %}
Bed Form Page
{% endblock %}

{% block style %}
<link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/adminForm/bedForm/style.css') }}"  >
{% endblock %}

{% block content %}

    <!-- Bed -->

    <div class="bedForm">
        <form action="{{ url_for('bedForm')}}" method="POST">
 
            <label for="roomNum"> Room Number: </label><br> 
            <input type="number" id="roomNum" name="roomNum"><br> <br> 

            <label for="bedNum">Bed Number: </label><br> 
            <input type="number" id="bedNum" name="bedNum"> <br> <br>
        
            <label for="status">Status: </label><br> 
            <input type="text" placeholder="E.g Busy or Empty" id="status" name="status"> <br> <br>
            
            <input type="submit">

        </form>
    </div>

    
{% endblock %}
