{% extends "base.html" %}

{% block title %}
Rooms View Page
{% endblock %}

{% block style %}
<link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/adminView/roomsView/style.css') }}"  >
{% endblock %}

{% block content %}

    <!-- Content -->
    <div class="content">

        <h1> Rooms Informations: </h1>

        <table style="width:100%" class="table">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Room Number</th>
                    <th>Number Of Beds</th>
                    
                </tr>
                
            </thead>

            <tbody>

                {% for row in Table %}
                
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>

                
                </tr>
                {% endfor %}

            </tbody>
            </table>
    
{% endblock %}
