<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% block style %} {% endblock %}

</head>
<body>
    
    <!-- Nav Bar -->
    <div class="nav_bar">
        <div class="logo">
            <h3> ICU Rooms </h3>
        </div>
        <ul>
            
            <li><a href="{{ url_for('home')}}" > Home </a></li>
            <li><a href="{{ url_for('signIn')}}" > Sign In </a> </li>
            <li><a href="{{ url_for('contactUs')}}" > Contact Us </a></li>
            <li><a href="{{ url_for('admin')}}" > Admin </a></li>

        </ul>

    </div>

    {% block content %}

    {% endblock %}

</body>
</html>