{% extends "base.html" %}

{% block title %}
Contact Us
{% endblock %}

{% block style %}
<link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/contactUs.css') }}"  >
{% endblock %}

{% block content %}

    <!-- Contact Us -->

    <div class="contactForm">
        <form action="{{ url_for('contactUs')}}" method="POST">
 
            <label for="email" >Email:</label><br> 
            <input type="email" placeholder="example@example.com" id="email" name="email"><br> <br> 

            <label for="statement">Describe your Problem:</label><br>
            <input type="text" placeholder="Describe Your Problem........" id="statement" name="statement" > <br> <br> 
            
            <input type="submit">

        </form>
    </div>

{% endblock %}
