{% extends "base.html" %}

{% block title %}
The Home Page
{% endblock %}

{% block style %}
<link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}"  >
{% endblock %}

{% block content %}

    <!-- Content -->
    <div class="content">
        <h1>
            Hello Everbody,
        </h1>
        <img src="{{url_for('static', filename='images/icu1.jpg') }}">
        <h1>
            We Save Your life,
        </h1>
        <img src="{{url_for('static', filename='images/icu2.jpg') }}">    

    </div>

{% endblock %}
