<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In </title>
    <link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/signIn.css') }}"  >

    
</head>
<body>

    <div class="nav_bar">
        <div class="logo">
            <h3> ICU Rooms </h3>
        </div>
        <ul>
            
            <li><a href="http://127.0.0.1:5000/" > Home </a></li>
            <li><a href="http://127.0.0.1:5000/signin" > Sign In </a> </li>
            <li><a href="http://127.0.0.1:5000/contactUs" > Contact Us </a></li>
            <li><a href="http://127.0.0.1:5000/admin" > Admin </a></li>


        </ul>        

    </div>

    <!-- Sign in Page -->
    
    <div class="signIn">
        <div class="signInItem">
            <a href="http://127.0.0.1:5000/signin/doctor" > Doctor </a>
        </div>
        <div class="signInItem">
            <a href="http://127.0.0.1:5000/signin/nursery" > Nursery Staff </a>
        </div>
        <div class="signInItem">
             <a href="http://127.0.0.1:5000/signin/patient" > Patient </a>
        </div>  
    </div>

    
</body>
</html>