{% extends "base.html" %}

{% block title %}
Rooms Form Page
{% endblock %}

{% block style %}
<link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/adminForm/roomsForm/style.css') }}"  >
{% endblock %}

{% block content %}

    <!-- room -->

    <div class="roomForm">
        <form action="{{ url_for('roomForm')}}" method="POST">

            <label for="roomnum"> Room Number: </label><br> 
            <input type="number" id="roomnum" name="roomnum"><br> <br> 

            <label for="numofbeds">Number of Beds: </label><br> 
            <input type="number" id="numofbeds" name="numofbeds" > <br> <br>
            
            <input type="submit">

        </form>
    </div>

{% endblock %}
