{% extends "base.html" %}

{% block title %}
Sign In Doctor
{% endblock %}

{% block style %}
<link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/signForms/doctor.css') }}"  >
{% endblock %}

{% block content %}


    <!-- sign in Doctor -->

    <div class="doctorForm">

        <form action="{{ url_for('signInDoc')}}" method="POST">
 
            <label for="mlnumber">Medical License Number</label><br> 
            <input type="number" placeholder="Medical License Number e.g. 1021521351" id="mlnumber" name="mlnumber"><br> <br> 

            <label for="password">Password</label><br> 
            <input type="password" placeholder="Password" id="password" name="password"> <br> <br>            
            
            <input type="submit">

        </form>
    </div>

{% endblock %}
