<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link  rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/adminView/doctorView/style.css') }}"  >

</head>
<body>
    
    <!-- Nav Bar -->
    <div class="nav_bar">
        <div class="logo">
            <h3> ICU Rooms </h3>
        </div>
        <ul>
            
            <li><a href="http://127.0.0.1:5000/" > Home </a></li>
            <li><a href="http://127.0.0.1:5000/signin" > Sign In </a> </li>
            <li><a href="http://127.0.0.1:5000/contactUs" > Contact Us </a></li>
            <li><a href="http://127.0.0.1:5000/admin" > Admin </a></li>

        </ul>

    </div>


    <!-- Content -->
    <div class="content">

        <h1> Doctor Informations: </h1>

        <table style="width:100%" class="table">
            <thead>
                <tr>
                    <th>MLNum</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>

                </tr>
                
            </thead>

            <tbody>

                {% for row in Table %}
                
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td>{{row.6}}</td>
                    
                
                </tr>
                {% endfor %}

            </tbody>
            </table>
    

</body>
</html>